@charset "UTF-8";
.container {
  padding-inline: 15px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

::-moz-selection {
  background-color: #1a1a1a;
  color: #ff5722;
}

::selection {
  background-color: #1a1a1a;
  color: #ff5722;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #ff5722;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

#to-top {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: -1000px;
  cursor: pointer;
  background-color: #1a1a1a;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

#to-top i {
  color: #ff5722;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

#to-top:hover i {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}

header {
  background-color: #1a1a1a;
  padding-block: 30px;
}

header .container h1 {
  margin: 0;
  color: #fff;
  font-size: 28px;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 400px) {
  header .container h1 {
    font-size: 20px;
  }
}

header .container h1 img {
  width: 40px;
  position: relative;
  top: -4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

header .container h1 span {
  color: #ff5722;
  margin-left: 3px;
  margin-right: 10px;
}

.landing {
  height: calc(100vh - 87px);
  background-image: url("../../images/landing_bg.jpeg");
  background-position: auto;
  background-size: cover;
}

.landing .container div {
  width: 35%;
  height: 50%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  position: absolute;
  bottom: 20px;
  background-color: rgba(26, 26, 26, 0.7);
  border-top: 7px solid #ff5722;
  color: #fff;
}

@media (max-width: 767px) {
  .landing .container div {
    width: 80%;
    height: 75%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.landing .container div h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.landing .container div p {
  font-style: italic;
  line-height: 1.5;
  font-size: 14px;
}

.landing .container div button {
  padding: 10px 25px;
  border: 1px solid #ff5722;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, #ff5722));
  background: linear-gradient(-90deg, transparent 50%, #ff5722 50%);
  background-position: right;
  background-size: 200%;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.landing .container div button:hover {
  background-position: left;
  color: #fff;
}

.welcome {
  padding-block: 50px;
}

.welcome .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 60px;
}

.welcome .container > div {
  -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
}

@media (max-width: 767px) {
  .welcome .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .welcome .container .img {
    width: 90%;
  }
}

.welcome .container .img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .welcome .container .msg {
    width: 100%;
    text-align: center;
  }
}

.welcome .container .msg h2 {
  text-transform: uppercase;
  color: #ff5722;
}

.welcome .container .msg h2 i {
  margin-right: 10px;
}

.welcome .container .msg p {
  margin-block: 25px;
  line-height: 2;
  font-size: 14px;
}

.welcome .container .msg button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 10px 30px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.welcome .container .msg button:hover {
  border-color: #1a1a1a;
}

@media (max-width) {
  .welcome .container .msg button {
    padding: 10px 150px;
  }
}

.cards {
  padding-block: 80px;
  background-color: #eee;
}

.cards .container h2 {
  color: #ff5722;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.cards .container h2 i {
  color: #ff5722;
  margin-inline: 10px;
}

.cards .container .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.cards .container .content > div {
  border: 2px solid #ff5722;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards .container .content > div .img {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.cards .container .content > div .img img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.cards .container .content > div .img img:hover {
  transform: scale(1.1) rotate(2deg);
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  -o-transform: scale(1.1) rotate(2deg);
}

.cards .container .content > div .txt {
  width: 100%;
  padding-block: 20px;
  background-color: #1a1a1a;
  text-align: center;
}

.cards .container .content > div .txt h3 {
  text-transform: uppercase;
  color: #ff5722;
}

.cards .container .content > div .txt h3 i {
  margin-inline: 8px;
}

.cards .container .content > div .txt p {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  line-height: 2;
  margin-top: 20px;
}

.numbers {
  padding-block: 50px;
  background-color: #1a1a1a;
}

.numbers .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.numbers .container div {
  padding: 50px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: #fff;
}

.numbers .container div i {
  font-size: 30px;
  color: #ff5722;
}

.numbers .container div span {
  font-size: 38px;
  font-weight: bold;
}

.numbers .container div h6 {
  font-weight: normal;
  font-size: 18px;
  color: #ff5722;
}

.quote {
  padding-block: 150px;
  background-image: url("../../images/quote_bg.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.5);
}

.quote .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote .container q {
  quotes: "" "";
  margin-bottom: 50px;
  position: relative;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

.quote .container q::before, .quote .container q::after {
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  margin-inline: 7px;
}

.quote .container button {
  padding: 10px 25px;
  border: 3px solid #ff5722;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, #ff5722));
  background: linear-gradient(-90deg, transparent 50%, #ff5722 50%);
  background-position: right;
  background-size: 200%;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.quote .container button:hover {
  background-position: left;
  color: #fff;
}

.coaches {
  padding-block: 50px;
}

.coaches .container h2 {
  color: #ff5722;
  text-transform: uppercase;
  text-align: center;
}

.coaches .container h2 i {
  color: #ff5722;
  margin-inline: 10px;
}

.coaches .container p {
  margin-block: 30px;
  text-align: center;
  font-size: 14px;
}

.coaches .container .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}

.coaches .container .content .coach {
  height: 350px;
  border: 2px solid #ff5722;
  position: relative;
  overflow: hidden;
}

.coaches .container .content .coach .img {
  height: 100%;
}

.coaches .container .content .coach .img img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.coaches .container .content .coach .info {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: -1000px;
  left: 0;
  background-color: rgba(26, 26, 26, 0.9);
  color: #ff5722;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coaches .container .content .coach .info h4 {
  font-size: 24px;
  margin-bottom: 25px;
}

.coaches .container .content .coach .info div a {
  font-size: 20px;
  color: #fff;
  margin-inline: 10px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.coaches .container .content .coach .info div a:hover {
  color: #ff5722;
}

.coaches .container .content .coach:hover .img img {
  transform: scale(1.2) rotate(2deg);
  -webkit-transform: scale(1.2) rotate(2deg);
  -moz-transform: scale(1.2) rotate(2deg);
  -ms-transform: scale(1.2) rotate(2deg);
  -o-transform: scale(1.2) rotate(2deg);
}

.coaches .container .content .coach:hover .info {
  bottom: 0;
}

.questions {
  padding-block: 50px;
  background-color: #eee;
}

.questions .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .questions .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
  }
}

.questions .container form {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media (max-width: 767px) {
  .questions .container form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.questions .container form h2 {
  margin-bottom: 15px;
  color: #ff5722;
  text-transform: uppercase;
}

.questions .container form h2 i {
  margin-inline: 10px;
}

.questions .container form div {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.questions .container form div .wrapper {
  width: calc(50% - 10px);
  height: 100%;
}

.questions .container form div .wrapper input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #1a1a1a;
  outline: none;
  color: #ff5722;
  caret-color: #ff5722;
}

.questions .container form div .wrapper input:focus {
  border-color: #ff5722;
}

.questions .container form div .wrapper span {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #777;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.questions .container form div .wrapper span.has-data {
  top: -22px;
  left: 2px;
  color: #ff5722;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.questions .container form textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  resize: none;
  border: 2px solid #1a1a1a;
}

.questions .container form button {
  width: 100%;
  padding: 10px;
  background-color: #ff5722;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  outline: none;
  border: 3px solid transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.questions .container form button:hover {
  letter-spacing: 8px;
  border-color: #1a1a1a;
}

section.clients {
  padding-block: 50px;
  position: relative;
  background-image: url("../../images/clients_bg.jpeg");
  background-position: center;
  background-size: cover;
}

section.clients::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.5);
}

section.clients .container {
  position: relative;
}

section.clients .container h2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  color: #fff;
}

@media (max-width: 767px) {
  section.clients .container h2 {
    font-size: 18px;
  }
}

section.clients .container h2::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: calc(50% - 40px);
  width: 80px;
  height: 3px;
  background-color: #ff5722;
}

section.clients .container h2 i {
  margin-inline: 10px;
  color: #ff5722;
}

section.clients .container .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(calc(50% - 50px), 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - 50px), 1fr));
  gap: 100px;
  margin-top: 200px;
}

@media (max-width: 767px) {
  section.clients .container .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section.clients .container .content .client {
  position: relative;
}

section.clients .container .content .client img {
  width: 120px;
  position: absolute;
  top: -65px;
  left: -50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 767px) {
  section.clients .container .content .client img {
    top: -75px;
    left: calc(50% - 60px);
  }
}

section.clients .container .content .client div {
  padding: 50px;
  background-color: #fff;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.clients .container .content .client div p {
  line-height: 2;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 25px;
}

section.clients .container .content .client div span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  font-size: 20px;
}

footer {
  padding-block: 50px;
  background-color: #1a1a1a;
}

footer .container {
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container p {
  line-height: 2;
}

footer .container p i.fa-heart {
  color: #ff5722;
  margin-inline: 5px;
}

footer .container p a {
  color: #ff5722;
  font-weight: bold;
  text-decoration: none;
}

footer .container div {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 5px dashed #fff;
}

footer .container div a {
  margin-inline: 10px;
  font-size: 22px;
  text-decoration: none;
  color: #ff5722;
}
/*# sourceMappingURL=main.css.map */